<% for column in Line.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @line.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @line %> |
<%= link_to 'Back', :action => 'list' %>
