<%= error_messages_for 'node' %>

<!--[form:node]-->
<p><label for="node_node_name">Node name</label><br/>
<%= text_field 'node', 'node_name'  %></p>

<p><label for="node_node_osx">Node osx</label><br/>
<%= text_field 'node', 'node_osx'  %></p>

<p><label for="node_node_osy">Node osy</label><br/>
<%= text_field 'node', 'node_osy'  %></p>
<!--[eoform:node]-->

